<div class="box">
  <!-- ====> Start Select Category -->
  <div class="my-3 w-25">
    <app-select
      [data]="categories"
      [title]="'Categories'"
      (itemSelected)="filterCategory($event)"
      [optionSelected]="categorySelected"
    ></app-select>
  </div>

  <!-- ====> Start List Of Products -->
  <div class="row" *ngIf="!isLoading; else spinner">
    <div
      class="col-md-3 col-sm-12"
      *ngFor="let product of products; let i = index"
    >
      <app-product [productData]="product" (addProductToCart)="addToCartHandle($event)"></app-product>
    </div>
  </div>

  <!-- ====> Start Spinner -->
  <ng-template #spinner>
    <div class="w-100 text-center">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
